/media/*
*.sqlite3
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.lol
*.fdb_latexmk
*.pyc
/docu/docu.fdb_latexmk
/docu/dokumentation.pdf
/docu/docu.sublime-workspace
/docu/docu.pdf
migrations/
__pycache__/*
