.order-by-container, .back-img-container {
	float: left;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);  
  -o-transform: translateY(-50%);  
  transform: translateY(-50%);
  margin-left: 6px;
}

#container {
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.fullPic {
	display: none;
}

.fa {
	color: #808080;
}

.player {
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.fa-fw {
	font-size: 25px;
}

.fa-refresh {
	display: inline-block;
	text-align: center;
  vertical-align: bottom;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.bottom-div {
	height: 100px;
}

.navigator {
	position: absolute;
	height: 100%;
	top: 0;
	cursor: pointer;
	
}

.grey {
	/* background-color: rgba(16, 16, 16, 0.8); */
	visibility: hidden;
	height: 100%;
	position: relative;
}

.nav-left {
	width: 30%;
	left: 0;
}

.nav-right {
	width: 70%;
	left: 30%;
}

#nav-left {
	width: 40px;
}

#nav-right {
	width: 40px;
	float: right;
}

.panel-body {
	position: relative;
}

.overlay-left {
	position: absolute;
	top: 45%;
	float: left;
	color: rgba(255, 255, 255, 0.4);
}

.overlay-right {
	position: absolute;
	top: 45%;
	right: 0px;
	margin-right: 2px;
	color: rgba(255, 255, 255, 0.4);

}

.fa-pause {
	display: none;
}

.picker {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 70px;
	bottom: 100px;
	overflow: auto;
}

.canvas {
	position: relative;
	margin-right: 36px;
}