<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>Upgrade your browser</title>
	<style type="text/css">
		body {
			background-color: black;
		}

		span {
			color: white;
			font-family: "Calibri";
			font-size: 200%;
		}

		img {
			width: 80px;
			margin: 10px;
		}

		.container {
			text-align: center;
		}

		.browsers {
		}

		.please {
			font-size: 130%;
		}

		.old {
			width: 120px;
		}
	</style>
</head>
<body>
<div class="container">
	<div>
		<img class="old" src="../../static/img/old.svg" alt=""/>
	</div>
	<span>
		An old, wise man once said:
		<br />
		"Always keep your browser up-to-date!"
	</span>
	<br />
	<br />
	<span class="please">
		Please use a modern browser to visit this website.
	</span>
	<div class="browsers">
		<a href="">
			<img src="../../static/img/firefox.svg" alt="Firefox" />
		</a>
		<a href="">
			<img src="../../static/img/chrome.svg" alt="Chrome" />
		</a>
		<a href="">
			<img src="../../static/img/ie.svg" alt="Internet Explorer" />
		</a>
	</div>
</div>
</body>
</html>