.orderByContainer, .back-img-container {
	float: left;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);  
  -o-transform: translateY(-50%);  
  transform: translateY(-50%);
  margin-left: 6px;
}

#container {
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: translateX(42px);
 	-o-transform: translateX(42px);
 	transform: translateX(42px);
}

img {
	max-height: 100%;
	max-width: 100%;
}

.player {
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 66px;
}

.fa-fw {
	font-size: 25px;
}

.fa-refresh {
	display: inline-block;
	text-align: center;
  vertical-align: bottom;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.bottom-div {
	height: 100px;
}

.navigator {
	position: absolute;
	height: 100%;
	top: 0;
	cursor: pointer;
	visibility: visible;
}

.grey {
	height: 100%;
	position: relative;
}

.nav-left {
	width: 30%;
	left: 0;
}

.nav-right {
	width: 70%;
	left: 30%;
}

#nav-left {
	width: 40px;
}

#nav-right {
	width: 40px;
	float: right;
	margin-right: 10px;
}

.panel-body {
	position: relative;
}

.overlay-left {
	position: absolute;
	top: 45%;
	float: left;
}

.overlay-right {
	position: absolute;
	top: 45%;
	right: 0px;

}

.fa-pause {
	display: none;
}

.picker {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 85px;
	bottom: 100px;
	overflow: auto;
}

.canvas {
	position: relative;
	height: 100%;
	margin-right: 50px;
}

.description {
	overflow: auto;
	height: 74%;
}

.inactive {
	opacity: 0.5;
	-webkit-filter: grayscale(70%); 
	-moz-filter: grayscale(70%); 
	-o-filter: grayscale(70%); 
	-ms-filter: grayscale(70%); 
	filter: grayscale(70%);
}

.inactive:hover {
	opacity: 0.9;
	-webkit-filter: grayscale(10%); 
	-moz-filter: grayscale(10%); 
	-o-filter: grayscale(10%); 
	-ms-filter: grayscale(10%); 
	filter: grayscale(10%);
}