.container {
	margin: 50px 0px 0px 0px;
  display: inline-block;
  text-align: center;
}

.panel {
	vertical-align: top;
}

.panel-heading {
	text-align: center;
	margin-top: 10px;
}

.panel-heading-uploaded {
	font-size: 90%;
}

.panel-body {
	margin: 0px 0px 0px 10px;
	height: 140px;
	position: relative;
}

.preview {
	height: 65px;
	width: 65px;
	margin: 2px 2px 0px 0px;
	float: left;
}

#orderByContainer, #searchContainer, .home-img-container {
	float: left;
	position: relative;
	top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);  
  -o-transform: translateY(-50%);  
  margin-left: 5px;
}

#searchContainer {
	margin-left: 10%;
}

#setup {
	position: absolute; right: 0; bottom: 0;
	margin: 10px;
	font-size: 150%;
}

.endPlaceholder {
	height: 50px;
}