/* GENERAL */
body {
	/* Background image */
	background-image: linear-gradient(180deg, #D0D0D0, #E0E0E0);
}

/* Font for all text */
span, .search {
	font-family: "Calibri";
	color: #101010;
}

/* Colors for links */
a:link {
  color: #101010;
}
a:visited {
	color: #101010;
}
a,i:hover {
  color: #303030;
}

/* Header and Footer Color */
.top-div, .bottom-div {
	background-color: rgba(240, 240, 240, 0.8);
	/* Color for search icon and play button */
	color: #101010;
}

/* Background for Album/Picture preview in Gallery and Album overview */
.panel {
	background-color: #c0c0c0;
}
.panel:hover {
	background-color: #b0b0b0;
}

/* Search field */
.search {
	border:1px solid #D0D0D0;
	background-color:#D0D0D0;
}

/* Overlay for navigation in Carousel */
.overlay-left, .overlay-right {
	color: rgba(10, 10, 10, 0.4);
}