/* GENERAL */
body {
	/* Background image */
	background-image: linear-gradient(180deg, #101010, #191919);
}

/* Font for all text */
span, .search {
	font-family: "Calibri";
	color: #808080;
}

/* Colors for links */
a:link {
  color: #A0A0A0;
}
a:visited {
	color: #A0A0A0;
}
a:hover {
  color: #B0B0B0;
}

/* Header and Footer Color */
.top-div, .bottom-div {
	background-color: rgba(16, 16, 16, 0.8);
	/* Color for search icon */
	color: #808080;
}

/* Background for Album/Picture preview in Gallery and Album overview */
.panel {
	background-color: #303030;
}
.panel:hover {
	background-color: #404040;
}

/* Search field */
.search {
	border:1px solid #2a2e31;
	background-color:#2d3035;
}